body{
    background-color: rgb(2, 9, 73);
    
}
#d1{
    height: 100px;
    background-color: rgb(98, 159, 252);
    border-radius: 50px;
    

}
#h11{
    text-align: center;
    position: relative;
    top: 30px;
    color: rgb(0, 0, 0);
    
    
}
#d2{
    height: 250px;
    background-color: rgb(2, 9, 73);
    margin: 20px;
}
#im1{
    height: 250px;
    width: 250px;
     position: static;
    display: block;
    margin: auto;
}
#d3{
    height: auto;
    background-color:rgb(140, 186, 255);
    border-radius: 30px;
    padding: 10px 20px 50px 10px;
}
#h21{
    position:relative;
    top: 10px;
    left: 10px;

}
#sd1{
    height: auto;
    background-color: rgb(140, 186, 255);
    margin: 20px 10px 20px 100px;
    position: relative;
    
    width: auto;
    
}
#p1{
    text-align: justify;
}
#d4{
    background-color: rgb(140, 186, 255);
    height: 110px;
    margin: 15px;
    border-radius: 55px;
}
.img{
    width: 50px;
    height: 50px;
    margin: 30px;
    float: left;
}
@media (max-width:768px){
    #d1{
        height: 130px;
    }
    #sd1{
        margin: 20px 10px 20px 60px;
    }
    .img{
        margin:15px;
        height: 30px;
        width: 30px;
        position: relative;
        top: 25px;
        left: 10px;
    }

}

